<p> Conversions History</p>
<table class="table table-hover">
  <thead>
    <tr>
      <th>From Currency</th>
      <th>To Currency</th>
      <th>Amount</th>
      <th>Convert Amount</th>
      <th>Exchange Rate</th>
    </tr>
  </thead>
  <tbody>
    <%= render @conversions %>
  </tbody>
</table>